<div class="login-box">
  <div class="login-logo">
    <img src="../../assets/img/ico2.png">
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Merci de se connecter</p>

      <form [formGroup]="loginForm">
        <div class="input-group mb-3">
          <input
            [(ngModel)]="username"
            formControlName="username"
            type="username"
            class="form-control"
            placeholder="username"
          />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input
            [(ngModel)]="password"
            formControlName="password"
            type="password"
            class="form-control"
            placeholder="Password"
          />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="rememberMe"
              />
             
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button
              (click)="logIn()"
              type="submit"
              class="btn btn-primary btn-block btn-flat"
            >
              Login
            </button>
          </div>
          <!-- /.col -->
        </div>
      </form>

    </div>
    <!-- /.login-card-body -->
  </div>
</div>
